@tailwind base;
@tailwind components;
@tailwind utilities;

.calendar {
  transform: scale(1.3); /* تقویم را ۱۰ درصد بزرگ‌تر می‌کند */
  margin-top: 3rem;
}

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }
}
